.top {
  display:flex;
  margin-left: 667px;
  width: 100%;

}

input[type="file"] {
  display: none;
}
.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

.textArea {
  color: white;
  margin: 20px;

}
.upload1 {
  --color: #003427;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: .3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
 }
 
 .upload1::before, .upload1::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
  padding: 5px 10px;
 }
 
 .upload1::before {
  top: -1em;
  left: -1em;
 }
 
 .upload1::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
 }
 
 .upload1:hover::before, .upload1:hover::after {
  height: 410px;
  width: 410px;
 }
 
 .upload1:hover {
  color: rgb(45, 108, 129);
 }
 
 .upload1:active {
  filter: brightness(.8);
 }
 .upload {
  --color: #003427;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: .3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
 }
 
 .upload::before, .upload::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
  padding: 5px 10px;
 }
 
 .upload::before {
  top: -1em;
  left: -1em;
 }
 
 .upload::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
 }
 
 .upload:hover::before, .upload:hover::after {
  height: 410px;
  width: 410px;
 }
 
 .upload:hover {
  color: rgb(53, 121, 144);
 }
 
 .upload:active {
  filter: brightness(.8);
 }
 
 